node.router{
	fill-color: red;
	shape: box;
	size: 70px;
}

node.hubController{
	fill-color: green;
	shape: circle;
	size: 30px;
}

node.lighting{
	fill-color: yellow;
	shape: triangle;
	size: 30px;
}

node.appliances{
	fill-color: blue;
	shape: diamond;
	size: 30px;
}

node.whiteware{
	fill-color: white;
	shape: triangle;
	size: 30px;
}

